[user]
        name = Alex Forsythe
        email = alexwforsythe@gmail.com
[core]
        filemode = false
[alias]
        alias = config --get-regexp alias
        summon = "!summon () { b=$1; git fetch origin +refs/heads/$b:refs/remotes/origin/$b $b:$b; }; summon"
        attic = "!attic() { b=$1; git tag archive/$b $b; git branch -D $b; }; attic"
[color]
        ui = true
