#
# .chezmoi.toml: the chezmoi config file
#
#  - Should be copied to $HOME/.config/chezmoi/chezmoi.toml before running
#    `chezmoi init`
#
# https://www.chezmoi.io/reference/configuration-file
#

# Set the sourceDir to "dotfiles" instead of "chezmoi" to avoid having the
# framework name in paths.
# https://www.chezmoi.io/user-guide/advanced/customize-your-source-directory
sourceDir = "$HOME/.local/share/dotfiles"
