[submodule "modules/dotbot"]
path = submodules/dotbot
url = git@github.com:anishathalye/dotbot.git
[submodule "modules/prezto"]
path = submodules/prezto
url = git@github.com:alexwforsythe/prezto.git
[submodule "modules/vimrc"]
path = submodules/vimrc
url = git@github.com:alexwforsythe/vimrc.git
[submodule "submodules/forgit"]
path = submodules/forgit
url = git@github.com:wfxr/forgit.git
