[submodule "modules/dotbot"]
	path = modules/dotbot
	url = git@github.com:anishathalye/dotbot.git
[submodule "modules/fonts"]
	path = modules/fonts
	url = git@github.com:powerline/fonts.git
[submodule "modules/prezto"]
	path = modules/prezto
	url = git@github.com:alexwforsythe/prezto.git
[submodule "modules/vimrc"]
	path = modules/vimrc
	url = git@github.com:alexwforsythe/vimrc.git
