[submodule "modules/dotbot"]
path = submodules/dotbot
url = git@github.com:anishathalye/dotbot.git
[submodule "modules/prezto"]
path = submodules/prezto
url = git@github.com:alexwforsythe/prezto.git
[submodule "submodules/tpm"]
	path = submodules/tpm
	url = git@github.com:tmux-plugins/tpm.git
