#
# git config
#
# https://git-scm.com/docs/git-config
#

[user]
name = Alex Forsythe
email = alexwforsythe@gmail.com

[core]
filemode = false
pager = delta
editor = code --reuse-window --wait

[alias]
alias = config --get-regexp alias
summon = "!summon () { b=$1; git fetch origin +refs/heads/$b:refs/remotes/origin/$b $b:$b; }; summon"
attic = "!attic() { b=$1; git tag archive/$b $b; git branch -D $b; }; attic"

[color]
ui = true

[pull]
rebase = true

[diff]
colorMoved = default
tool = vscode

[merge]
conflictstyle = diff3
tool = vscode

[mergetool "vscode"]
cmd = code --reuse-window --wait $MERGED
keepBackup = false

[branch]
sort = -committerdate

[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true

[include]
path = ~/.config/dotfiles/configs/delta.conf
