[user]
name = Alex Forsythe
email = alexwforsythe@gmail.com
[core]
filemode = false
pager = delta
editor = code --reuse-window --wait
[delta]
# https://github.com/dandavison/delta
# @todo new file
features = theme-base16 decorations
navigate = true # use n and N to move between diff sections
# side-by-side = true
[delta "decorations"]
decorations = true
hyperlinks = true
[delta "theme-base16"]
# Color reference: https://www.ditig.com/256-colors-cheat-sheet
dark = true
syntax-theme = base16
commit-style = yellow bold
commit-decoration-style = ul
file-style = omit
# hunk-label = omit
hunk-header-decoration-style = omit
hunk-header-file-style = magenta # ul
hunk-header-line-number-style = magenta
hunk-header-style = file line-number italic syntax
line-numbers = true
line-numbers-left-style = black
line-numbers-zero-style = "#999999" italic
line-numbers-minus-style = red
line-numbers-plus-style = green
line-numbers-right-style = "#515151"
minus-style = red
minus-non-emph-style = red
minus-emph-style = white bold brown
minus-empty-line-marker-style = normal red
plus-style = green
plus-non-emph-style = green
plus-emph-style = white bold forestgreen
plus-empty-line-marker-style = normal green
# whitespace-error-style = magenta reverse
[delta "interactive"]
keep-plus-minus-markers = false
[pager]
blame = delta
[interactive]
diffFilter = delta --color-only --features=interactive
[alias]
alias = config --get-regexp alias
summon = "!summon () { b=$1; git fetch origin +refs/heads/$b:refs/remotes/origin/$b $b:$b; }; summon"
attic = "!attic() { b=$1; git tag archive/$b $b; git branch -D $b; }; attic"
[color]
ui = true
[pull]
rebase = true
[diff]
colorMoved = default
tool = vscode
[merge]
conflictstyle = diff3
tool = vscode
[mergetool "vscode"]
cmd = code --reuse-window --wait $MERGED
keepBackup = false
[branch]
sort = -committerdate
[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true
